@model PurchasingApp.Models.Vendor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Vendor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Adress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Adress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EmailNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.VendorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
