@model PurchasingApp.Models.PurchaseOrderModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PurchaseOrderModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorContactName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorContactName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VendorPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VendorPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingCompanyName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingCompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingDept)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingDept)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingVia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingVia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingMethod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShippingTerm)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShippingTerm)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrderyDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrderyDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PurchaseRemark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PurchaseRemark)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PurchaseId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
